.Notifications {
  border: 1px dashed red; 
  width: 95vw; 
  margin: 5px;
  padding: 5px 10px;
}

li[data-priority="default"] {
  color: blue;
}

li[data-priority="urgent"] {
  color: red;
}
.close-icon{
  width: 10px;
  position: relative;
  right: 20px;
}
